@media (min-width: 768px) {
    .list-item__logo {
        padding-left: 26px;
    }

    .header__list-item--hid320-1120 {
        display: flex;
        align-items: center;
    }

    .list-item__logo::before {
        visibility: visible;
    }

    .list-item__logo::after {
        visibility: hidden;
    }

    .list-item__profile::after {
        visibility: visible;
    }

    .header__title {
        padding-bottom: 32px;
        padding-left: 24px;
    }

    .main__nav {
        padding-left: 24px;
    }

    .content {
        flex-direction: row;
    }

    .content__item--text {
        width: 50%;
        margin-bottom: 0;
    }

    .content__item--image {
        width: 50%;
    }

    .content__excerpt {
        height: 160px;
        margin-bottom: 10px;
        padding-top: 32px;
        padding-left: 24px;
        padding-right: 48px;
    }

    .content__button {
        padding-left: 33px;
        font-size: 16px;
    }

    .content__picture {
        margin-bottom: 14px;
        padding-top: 32px;
        margin-right: 25px;

    }

    .content__img {
        border-radius: 6px;
    }

}

@media (min-width: 1120px) {
    .header--box {
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-right: 8px;
    }

    .header {
        background-color: #F8F8F8;
    }

    .header__list-item--hid1120 {
        display: none;
    }

    .header__list-item--hid320-1120 {
        display: none;
    }

    .list-item__button {
        display: flex;
        align-items: center;
        background-color: #F8F8F8;
    }

    .nav__list--main {
        flex-wrap: wrap;
    }

    .main__list-item {
        padding: 8px 22px;
    }

    .content__excerpt {
        padding-top: 19px;
        margin-right: 36px;
    }

    .list-item__text {
        display: block;
        font-size: 16px;
    }

    .list__item--icon {
        background-color: #F8F8F8;
    }

    .content__picture {
        margin-bottom: 49px;
        margin-top: -32px;
        margin-right: 29px;
    }
}