/* glob */
body {
  min-width: 320px;
  margin: 0;
  font-family: 'TT Lakes', 'sans-serif';
  font-size: 0;
}

.main {
  background-color: #F8F8F8;
}

.nav {
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 0;
  background-color: white;
  border: none;
}

.text {
  margin: 0;
}

.link {
  color: black;
  text-decoration: none;
}

/* header */
.header--box {
  display: flex;
  flex-direction: column;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 18px 16px;
  border-bottom: 1px solid #D9FFF5;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

.nav__list--header {
  width: 100%;
}

.header__list-item {
  display: flex;
  align-items: center;
}

.header__list-item--connection {
  display: none;
  margin-right: 42px;
}

.foo__button:not(:last-of-type) {
  margin-right: 16px;
}

.list-item__text {
  display: none;
  white-space: nowrap;
  margin-right: 8px;
}

.list-item__logo {
  position: relative;
  width: 97px;
  height: 51px;
}

.list-item__logo::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  top: 10px;
  left: 3px;
  background-color: #F2F2F2;
  border-radius: 15px;
  visibility: hidden;
}

.list-item__logo::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  top: 10px;
  right: -17px;
  border-radius: 15px;
  background-color: #F2F2F2;
}

.item-list--small {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.list-item__profile {
  position: relative;
}

.list-item__profile::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 32px;
  top: 4px;
  right: -20px;
  background-color: #F2F2F2;
  border-radius: 15px;
  visibility: hidden;
}

/* title */

.title {
  margin: 0;
  background-color: #F8F8F8;
  font-size: 28px;
  letter-spacing: -0.6px;
}

.header__title {
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.header__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  top: 24px;
  left: 0;
  background-color: #41F6D7;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

/* main navigation */

.main--box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav__list--main {
  flex-wrap: nowrap;
  justify-content: start;
  overflow-x: scroll;
  background-color: #F8F8F8;
  padding-left: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav__list--main::-webkit-scrollbar {
  display: none;
}

.main__list-item {
  padding: 8px 9px 8px 16px;
  background-color: #F8F8F8;
}

.list-item__link {
  white-space: nowrap;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.2px;
}

.main__list-item--active {
  background-color: #fff;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.main__content {
  display: flex;
  flex-direction: column;
}

.content__item--text {
  margin-bottom: 16px;
}

.descr {
  display: flex;
  flex-direction: column;
}

.content__excerpt {
  width: 100%;
  height: 114px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  overflow: hidden;
}

.text {
  font-size: 14px;
  line-height: 129%;
}

.content__button {
  padding-left: 24px;
  font-size: 16px;
  background-color: #F8F8F8;
}

.content__svg {
  margin-right: 16px;
}

.content__img {
  max-width: 100%;
}




